
<h2>Update</h2>

@model CrudCase.Models.Arac
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Hakkımızda</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.aracno)

        <div class="form-group">
            @Html.LabelFor(m => m.marka)
            @Html.TextBoxFor(m => m.marka, new { @class = "form-control" })
            <br />
            @Html.LabelFor(m => m.model)
            @Html.TextBoxFor(m => m.model, new { @class = "form-control" })
            <br />
            @Html.LabelFor(m => m.fiyat)
            @Html.TextBoxFor(m => m.fiyat, new { @class = "form-control" })
            <br />
            @Html.LabelFor(m => m.plaka)
            @Html.TextBoxFor(m => m.plaka, new { @class = "form-control" })
            <br />
            @Html.LabelFor(m => m.yas)
            @Html.TextBoxFor(m => m.yas, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-default" />
            </div>
        </div>
        </div>
        }
